$start-color: #0099ff;
$goal-color: #ff8800;
$wall-color: #a200ff;

.App {
  background-color: #1d1d1d;
  color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontally */
  padding-top: 10vh;
}

.Board {
  display: flex;
  flex-wrap: wrap;
  height: 50vmin;
  width: 50vmin;
  margin: 0;
  background: green;
  border: 1px solid rgb(255, 255, 255);
}

%Tile {
  position: relative;
  flex-basis: calc(10%);
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  max-height: 10%;
  max-width: 10%;
  min-height: 10%;
  min-width: 10%;
  height: 10%;
  width: 10%;
}

.TileSelector {
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-right: 1px;
  height: calc(
    50vmin - 4px + 2px
  ); /* height of Board (50vmin) - border * 2 (5px * 2 = 10px) 
    + Board border * 2 (1px * 2) */
  width: 10vmin;

  display: flex;
  flex-direction: column;
  justify-content: auto;
}

.hover-tile {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.default-tile {
  @extend %Tile;
  background-color: rgb(19, 19, 19);
}

.start-tile {
  @extend %Tile;
  background-color: $start-color;
}

.goal-tile {
  @extend %Tile;
  background-color: $goal-color;
}

.wall-tile {
  @extend %Tile;
  background-color: $wall-color;
}

.optimal-path-tile {
  @extend %Tile;
  background-color: #00cc3d;
}

.suboptimal-path-tile {
  @extend %Tile;
  background-color: rgb(15, 240, 228);
}

%selector-btn {
  margin: 10%;
}

.start-btn {
  @extend %selector-btn;
  background-color: $start-color;

  &:hover {
    background-color: #0075c4;
  }
}

.goal-btn {
  @extend %selector-btn;
  background-color: $goal-color;

  &:hover {
    background-color: #c56900;
  }
}

.wall-btn {
  @extend %selector-btn;
  background-color: $wall-color;

  &:hover {
    background-color: #9300e9;
  }
}

.erase-btn {
  @extend %selector-btn;
  background-color: rgb(255, 255, 255);
}

.play-btn {
  @extend %selector-btn;
  background-color: #00cc3d;
  margin-top: auto;

  &:hover {
    background-color: #00992e;
  }
}
